.page-header
  = link_to new_tender_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Tender
  %h1 Listing tenders

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th Title
        %th Description
        %th Created_at
        %th Offers
        %th
        %th
        %th
        %th
        %th

    %tbody
      - @tenders.each do |tender|
        %tr
          %td= tender.user.name
          %td= tender.title
          %td= tender.description
          %td= tender.created_at
          %td= tender.offers.count
          %td= link_to 'Show', tender
          %td= tender.user_id == current_user.id ? (link_to 'Edit', edit_tender_path(tender)) : ''
          %td= tender.user_id == current_user.id ? (link_to 'Destroy', tender, :data => { confirm: 'Are you sure?' }, :method => :delete) : ''
          %td= tender.user_id != current_user.id ? (link_to 'Make offer', new_offer_path(:tender_id => tender.id)) : ''
          %td= tender.offers.count > 0 ? (link_to 'Show offers', offers_path) : ''
= paginate @tenders