.page-header
  = link_to tenders_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_tender_path(tender), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show tender

%dl.dl-horizontal
  %dt User:
  %dd= tender.user.name
  %dt Title:
  %dd= tender.title
  %dt Description:
  %dd= tender.description
  %dt Created_at
  %dd= tender.created_at.to_date
  %br
  %h3 Offers
  %hr
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th Message
        %th

    %tbody
      - tender.offers.each do |offer|
        %tr
          %td= offer.user.name
          %td= offer.message
          %td= link_to 'Show', offer
