.page-header
  = link_to new_request_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Request
  %h1 Listing requests

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th Title
        %th Description
        %th
        %th
        %th

    %tbody
      - @requests.each do |request|
        %tr
          %td= request.user_id
          %td= request.title
          %td= request.description
          %td= link_to 'Show', request
          %td= link_to 'Edit', edit_request_path(request)
          %td= link_to 'Destroy', request, :data => { confirm: 'Are you sure?' }, :method => :delete
